

# Node modules
node_modules/

#  Build / Dist folder
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Environment variables
.env


# IDE / Editor files
.vscode/


#  TypeScript
*.tsbuildinfo


# Temporary files
tmp/
temp/


# 🔹 Package lock (optional - usually keep it)
# package-lock.json

# 🔹 Debug files
*.pid
*.seed
*.pid.lock

